@import url('https://fonts.cdnfonts.com/css/grafite');
/*fonte titulo */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/*paragrafo */

/*header*/
* {
    margin:0%; /* para colocar o tamanho da margem entre os itens */
    padding: 0%; /* espaçamento de um item para o outro */
}

body{
    background-color: rgb(184, 184, 184);
}
nav {
    text-align:right;
}
 h1{ 
    font-family: 'Grafite', sans-serif;
    font-weight: 5;
 }

 header{
    background-color: rgb(184, 184, 184);
    color: white;
 }

 a {
    text-decoration: none;
    color: white    ;
 }

 /* justin */

 #justin {
    color: brown;
    background-color:cornflowerblue;
 }

 p {
    color: blue;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50px ;
    font-style: normal;
 }

 footer{
    background-color: rgb(184, 184, 184);
 }

 #fot{
    color: white;
 }




